
    <p>I have completed my MBA with a specialization in Marketing and HR from Anna University, achieving a commendable 67% overall.</p>

    <p>Prior to pursuing my MBA, I successfully graduated with a B.Sc. in Catering and Hotel Administration from Shevaroys College of Hotel Administration, Alagappa University, with a notable 71% score.</p>


    <p>I completed my Higher Secondary education at HSC Government Higher Secondary School, where I achieved a respectable 57% in the State Board examinations.</p>


    <p>My educational journey began with my primary education at SSLC Vedhha Vikass Matriculation School, securing an impressive 71% in the Matriculation exams.</p>
